extends layout

block content
  h1 🔥 Animation
  p En esta sección vamos a poder conocer como podemos aplicar animaciones a nuestros elementos.
  hr  
  br
  p Para nuestros sistema nos apoyaremos de la librería de 
    a.bold.green_brand(href="https://daneden.github.io/animate.css/" target="_blank") Animated.css
  h3.animated FadeIn
  .sample-color.green_brand_background.animated.fadeIn.infinite
  h3.animated FadeOut
  .sample-color.green_brand_background.animated.fadeOut.infinite
  h3.animated FadeInDown
  .sample-color.green_brand_background.animated.fadeInDown.infinite
  h3.animated FadeInUp
  .sample-color.green_brand_background.animated.fadeInUp.infinite
