extends layout

block content
  h1 🗄Grid
  p.secondary_action Aquí explicaremos como utilizar el sistema de columnas
  .row.text-center
    .column-3
      .green_brand_background.small.spaced .column-3
    .column-3
      .green_brand_background.small.spaced .column-3
    .column-6
      .green_brand_background.small.spaced .column-6
  .row.text-center
    .column-4
      .green_brand_background.small.spaced .column-4
    .column-4
      .green_brand_background.small.spaced .column-4
    .column-4
      .green_brand_background.small.spaced .column-4
  .row.text-center
    .column-2
      .green_brand_background.small.spaced -2
    .column-2
      .green_brand_background.small.spaced -2
    .column-1
      .green_brand_background.small.spaced -1
    .column-4
      .green_brand_background.small.spaced .column-4
    .column-1
      .green_brand_background.small.spaced -1
    .column-1
      .green_brand_background.small.spaced -1
    .column-1
      .green_brand_background.small.spaced -1
  .row.text-center
    .column-12
      .green_brand_background.small.spaced .column-12

	
