extends layout

block content
  h1 🍱 News
  p.secondary_action En esta sección podras encontrar los últimos cambios en el sistema.
  hr
  
  h3 Version 
   =version
  hr
  br
  .bold Cambios 
  p Descripción de los cambios
  
