extends layout

block content
  h1 📦 Principios
  p.secondary_action Los principios de nuestro sistema son:
  hr.secondary_action
  br
  h3.green_brand Consistency
  p La idea principal de este principio es que todo los m&eacute;todos de usos dentro de esta plataforma, los pueda usar en cualquier aplicaci&oacute;n de la misma
  br
  h3.green_brand Accesible
  p Nuestro software debe de ser accesible a diferentes niveles o capacidades del usuario  y buscaremos la manera de que cualquier persona pueda sentir el control dentro de nuestro software.
  br
  h3.green_brand User control
  p El usuario debe de tener la sensaci&oacute;n de que inicia las acciones y solo el puede terminarlas, nada pasa sin que el usuario tenga el control.
  br
  h3.green_brand Forgiveness
  p Las acciones deben de representar el perd&oacute;n de un camino iniciado y permiten volver a pensar al usuario si es que  la acci&oacute;n correcta fue  o quiere cambiar de opinion.
  br
  h3.green_brand Perceived stability
  p Debemos transmitir que a&uacute;n en una plataforma compleja los procesos como los elemento sean familiares y predecibles.
