extends layout

block content
  h1 🍱 Spacing
  p.secondary_action En esta sección podras encontrar las unidades de espaciado para un elemento.
  hr
  br
  p Las reglas de espaciado se manejan por unidades, es así que consigues tener un control mas confible de cada espacio en los elementos. 
  br
  h3 Unidades
  .code .space=10px
  h3 Opciones de unidades
  .code .space_2=20px
  .code .space_3=30px
  .code .space_4=40px
  .code .space_5=50px
  h3 Configuraciones de unidades
  p Para utilizar los espacios para solo aplicar en algunos espacios, se puede utilizar los modificadores en cada elemento.
  .code .space_left 
  .code .space_right 
  .code .space_top
  .code .space_bottom
  h3 Margin
  p Por ultimo podemos definir  si es que el espaciado lo queremos aplicar sobre margin
  .code .space_top_margin
  .code .space_2_top_margin
