extends layout

block content
  h1 🅰️ Typo
  p.secondary_action Las reglas de la tipografía son las siguientes:
  hr.secondary_action
  h1 h1
  p.code < h1>< /h1>
  h2 h2
  p.code < h2>< /h2>
  h3 h3
  p.code < h2>< /h2>
  p  p
  p.code < p>< /p>
  .small small
  p.code .small
  
