@import "../tokens/spacing.scss";



@mixin constructor($num) {
  padding:$num;
  &_margin{
    margin: $num;
  }
  &_top{
    padding-top: $num;
    &_margin{
      margin-top: $num;
    }
  }
  &_bottom{
    padding-top: $num;
    &_margin{
      margin-bottom: $num;
    }
  }
  &_left{
    padding-top: $num;
    &_margin{
      margin-left: $num;
    }
  }
  &_right{
    padding-top: $num;
    &_margin{
      margin-right: $num;
    }
  }
}


.spaced{
  padding: $space;
}

.space{
  @include constructor($space)
}

.space_2{
  @include constructor($space * 2)
}

.space_3{
  @include constructor($space * 3)
}

.space_4{
  @include constructor($space * 4)
}

.space_5{
  @include constructor($space * 5)
}
