
//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝


// Brand colors
$white_brand:#FFFFFF;
$green_brand:#98CA3D;
// Action colors
$primary_action:#ABE542;
$secondary_action:#8F97A2;
// Boolean colors
$positive:#15FF93;
$negative:#F04F8D;
//Backgrounds
$background_blue:#233946;

//Basic colors
$white_normal:#f9f9f9;
$black_normal:#1C1D21;
